delimiters: [
  ['{', '}']
  ['(', ')']
  ['[', ']'],
  ['jsx_opening_element', 'jsx_closing_element'],
  ['<', '>', {afterChildCount: 1}]
],

tokens: [
  ['comment', 2, 2]
  ['template_string', 1, 1]
]
