'"if"': 'keyword.control'
'"unless"': 'keyword.control'
'"def"': 'keyword.control'
'"do"': 'keyword.control'
'"end"': 'keyword.control'
'"else"': 'keyword.control'
'"elsif"': 'keyword.control'
'"class"': 'keyword.control'
'"module"': 'keyword.control'
'"begin"': 'keyword.control'
'"rescue"': 'keyword.control'
'"ensure"': 'keyword.control'
'"return"': 'keyword.control'
'"yield"': 'keyword.control'
'"case"': 'keyword.control'
'"when"': 'keyword.control'

'constant': 'entity.name.type.class'
'superclass > identifier': 'entity.name.type.class.ruby'
'method > identifier': 'entity.name.function'
'scope_resolution > identifier': 'support.class'
'call > identifier:nth-child(2)': 'entity.name.function'
'method_call > identifier:nth-child(0)': 'entity.name.function'

'instance_variable': 'variable.other.object.property'
'symbol': 'constant.other'

'comment': 'comment'
'string': 'string'
'regex': 'string.regex'
'heredoc_beginning': 'string'
'heredoc_end': 'string'
'integer': 'constant.numeric'

'nil': 'constant.language.nil'
'true': 'constant.language.true'
'false': 'constant.language.false'
