'program': 'source.js'
'function': 'meta.function.js'
'function > identifier': 'entity.name.function.js'
'formal_parameters': 'meta.parameters.js'
'formal_parameters > identifier': 'variable.parameter.function.js'
'number': 'constant.numeric.decimal.js'

'"("': 'punctuation.definition.parameters.begin.bracket.round.js'
'")"': 'punctuation.definition.parameters.end.bracket.round.js'
'"{"': 'punctuation.definition.function.body.begin.bracket.curly.js'
'"}"': 'punctuation.definition.function.body.end.bracket.curly.js'
'"+"': 'keyword.operator.js'

'"var"': 'storage.type.var.js'
'"from"': 'keyword.control.js'
'"const"': 'storage.modifier.js'
'"return"': 'keyword.control.js'
'"import"': 'keyword.control.js'
'"function"': 'storage.type.function.js'
